doctype html
html(lang="en")
    head
        title SMART EHI Export Server - Authorize Export
        link(rel="stylesheet", href="/style.css")
    body
        #main
            h1.header
                img(src="/logo.svg" align="left")
                | EHI Export Server
            
            h2.center Authorize Export?
            hr
            form(action="/auth/authorize")
                each param, key in query
                    input(type="hidden" name=key value=param)
                br
                p.
                    By authorizing data for export you allow this hospital system to aggregate, 
                    filter, and transport a collection of your medical record to you via electronic means; 
                    in the case of this application, that means via a zip-file download. After downloading this data, 
                    you assume responsibility for the security of these files. 
                br
                p.
                    Note: This export is for demonstration purposes only. Among the Health Level Seven's Fast Health 
                    Interoperability Resources (HL7's FHIR) community, the Argonaut Project has devised 
                    an implementation guide (IG) for the export of electronic health information (EHI) 
                    from a hospital system using the FHIR standard. This web application demonstrates how 
                    requests for electronic health information (EHI) export from hospital systems 
                    might be created and configured by requestors. In tandem with the project implementing an 
                    EHI web application, this application provides a starting point for hospital systems to 
                    build their own EHI export interfaces.
                br
                .center
                    button(type="submit" name="_auth_success" value="0") Deny
                    | &nbsp;
                    button(type="submit" name="_auth_success" value="1" autofocus) Authorize