doctype html
html(lang="en")
    head
        title SMART EHI Export Server
        link(rel="stylesheet", href="/style.css")
    body
        #main
            h1 Index
            p TODO: Figure out what a home page should look like

            br
            form(action="/auth/authorize")
                input(type="hidden" name="response_type" value="code")
                input(type="hidden" name="client_id" value="test_client_id")
                input(type="hidden" name="scope" value="patient/$ehi-export")
                input(type="hidden" name="aud" value=`${baseUrl}/fhir`)
                
                table
                    tbody
                        tr
                            td(style="width: 100%")
                                input(type="url" name="redirect_uri" value=baseUrl placeholder="redirect_uri" style="width: 100%" required)
                            td
                                input(type="text" name="state" placeholder="state" required size=7)
                            td
                                button(type="submit") Launch