body {
    font-family: sans-serif;
    font-family: 18px;
    background : #F6F6F6;
    margin: 0;
    padding: 2em;
}

#main {
    box-shadow: 0 0 0 5px #CCC;
    max-width: 800px;
    padding: 2em;
    margin: 0 auto;
    background: #FFF;
    border-radius: 10px;
}

#main > .header {
    background: #00a5a8 linear-gradient(270deg, #00a859, #008ae3);
    color: #FFF;
    padding: 1em;
    margin: -1em -1em 1em;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
}

#main > .header img {
    margin-right: 0.5ex;
}

p {
    margin: 0.2em 0;
}

.text-muted {
    color: #999;
}



.center { text-align: center; }
.left   { text-align: left;   }
.right  { text-align: right;  }

.wrap {
    white-space: unset;
    flex-wrap: wrap;
}
.nowrap {
    white-space: nowrap;
    flex-wrap: nowrap;
}

/* FORMS -------------------------------------------------------------------- */

label {
    font-weight: 700;
    color: #0070bb;
    margin: 0.2em 0;
    display: inline-block;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="date"],
select,
button {
    font: inherit;
    display: inline-block;
    line-height: 1.4;
    padding: 0.5em 1em;
    margin: 0;
    height: 2.4em;
    vertical-align: baseline;
    box-sizing: border-box;
    border: 1px solid #0004;
    border-radius: 0.25em;
}

input[type="text"].full-width,
input[type="password"].full-width,
input[type="url"].full-width,
input[type="date"].full-width,
select.full-width,
button.full-width {
    width: 100%;
}

input[type="date"] {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

input[type="text"].inline {
    padding: 0em 0.5em;
    margin: 0;
    height: auto;
    vertical-align: baseline;
    min-width: 0;
}

button {
    border: 1px solid #0001;
    padding: 0.5em 2em;
    background: #1f7dff;
    cursor: pointer;
    color: #FFF;
    transition: all 0.2s;
}

button:hover {
    background: #156de9;
    border-color: #0003;
}

button:active {
    background: #0c5ac7;
    border-color: #0006;
}

button:disabled {
    background: #DDD;
    text-shadow: 0 0 1px #0003;
    cursor: default;
    border-color: #0001;
}

.checkbox-row {
    margin-bottom: 0.2em;
    display: flex;
}

.small {
    font-size: 14px !important;
}

:disabled {
    cursor: not-allowed;
}